<div class="lisbon-restaurants-category-header">
  <a href="/">
    <img class="back-arrow" src="/left-arrow-symbol-in-a-circle.png"/>
  </a>
  <span class="category-header"><%= current_category %></span>
</div>

<section class="hero-section">
  <div class="card-grid">
    <% restaurants_by_category.each do |restaurant| %>
    <a class="card" href="<%= restaurant.zomato_url %>">
      <div class="card__background" style="background-image: url('https://image.freepik.com/free-photo/grunge-concrete-wall-dark-grey-color-texture-vintage-background_1484-2052.jpg')"></div>
      <div class="card__background" style="background-image: url('https://lisbonrestaurantsmedia.blob.core.windows.net/restaurants/<%= restaurant.azure_id %>.webp')"></div>
      <div class="card__background" style="background-image: url('https://lisbonrestaurantsmedia.blob.core.windows.net/restaurants/<%= restaurant.azure_id %>.jpg')"></div>
      <div class="card__content">
        <!-- <p class="card__category">Sub-heading</p> -->
        <h3 class="card__heading"><%= restaurant.name %></h3>
      </div>
    </a>
    <% end %>
  <div>
</section>