  
<!-- 15 Categories-->
<!-- Template source: https://codepen.io/steveeeie/pen/NVWMEM#_=_ -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<div class="lisbon-restaurants-logo">
  <img src="/lisbon_restaurants_logo.png"/>
</div>

    <div class="two-columns-wrapper">

        <div class="randomizer-form">
            <ul>
                <li><input type="checkbox" checked> Italian</li>
                <li><input type="checkbox" checked> Hamburgers</li>
                <li><input type="checkbox" checked> Sushi</li>
                <li><input type="checkbox" checked> Asian</li>
                <li><input type="checkbox" checked> Indian</li>
                <li><input type="checkbox" checked> Seafood</li>
                <li><input type="checkbox" checked> Hotdogs</li>
                <li><input type="checkbox" checked> Tapas and Snacks</li>
                <li><input type="checkbox" checked> Steak</li>
                <li><input type="checkbox" checked> Mexican</li>
                <li><input type="checkbox" checked> Peruvian or Nepalese</li>
                <li><input type="checkbox" checked> Brunch</li>
                <li><input type="checkbox" checked> Icecream and sweets</li>
                <li><input type="checkbox" checked> Healthy</li>
                <li><input type="checkbox" checked> Other</li>
            </ul>
        <button>
            Find random restaurant!
        </button>
        </div>

        <div class="single-card-wrapper">
            <% random_restaurants.each do |restaurant| %>
                <a class="card" href="<%= restaurant.zomato_url %>">
                    <div class="card__background" style="background-image: url('https://image.freepik.com/free-photo/grunge-concrete-wall-dark-grey-color-texture-vintage-background_1484-2052.jpg')"></div>
                    <div class="card__background" style="background-image: url('https://lisbonrestaurantsmedia.blob.core.windows.net/restaurants/<%= restaurant.azure_id %>.webp')"></div>
                    <div class="card__background" style="background-image: url('https://lisbonrestaurantsmedia.blob.core.windows.net/restaurants/<%= restaurant.azure_id %>.jpeg')"></div>
                    <div class="card__background" style="background-image: url('https://lisbonrestaurantsmedia.blob.core.windows.net/restaurants/<%= restaurant.azure_id %>.png')"></div>
                    <div class="card__background" style="background-image: url('https://lisbonrestaurantsmedia.blob.core.windows.net/restaurants/<%= restaurant.azure_id %>.jpg')"></div>
                    <div class="card__content">
                        <!-- <p class="card__category">Sub-heading</p> -->
                        <h3 class="card__heading"><%= restaurant.name %></h3>
                    </div>
                </a>
            <% end %>
        </div>
    
</section>